.brandname {
  color: white;
  font-size: large;
}
.navbar {
  background-color: #828282;
  display: flex;
  padding-left: 20px;
}
.nav {
  width: 95%;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}
.nav li {
  list-style-type: none;
}
.nav span {
  display: flex;
}
.nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.651);
  padding: 16px;
}
